apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: flask-demo-app
    app.kubernetes.io/managed-by: kubectl-apply
  name: flask-demo-app
spec:
  ports:
  - name: http
    port: 8080
    nodePort: 30080
    protocol: TCP
    targetPort: 8600
  selector:
    app.kubernetes.io/name: flask-demo-app
    app.kubernetes.io/managed-by: kubectl-apply
  type: NodePort
